/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
	font: inherit;
	display: inline-block;
	overflow: visible;
	margin: 0;
	padding: 6px;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
	text-transform: none;
	color: white !important;
	border: 0;
	background-color: transparent;
}
.hamburger.is-active:hover,
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
	background-color: #000;
}
.hamburger-box {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}
.hamburger-inner {
	top: 50%;
	display: block;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
	position: absolute;
	width: 40px;
	height: 4px;
	background-color: white !important;
	transition-timing-function: ease;
	transition-duration: 0.15s;
	transition-property: transform;
	border-radius: 4px;
	background-color: #000;
}
.hamburger-inner:after,
.hamburger-inner:before {
	display: block;
	content: '';
}
.hamburger-inner:before {
	top: -10px;
}
.hamburger-inner:after {
	bottom: -10px;
}

.hamburger--spin .hamburger-inner {
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-duration: 0.22s;
}
.hamburger--spin .hamburger-inner:before {
	transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner:after {
	transition: bottom 0.1s ease-in 0.25s,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: rotate(225deg);
}
.hamburger--spin.is-active .hamburger-inner:before {
	top: 0;
	transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
	opacity: 0;
}
.hamburger--spin.is-active .hamburger-inner:after {
	bottom: 0;
	transition: bottom 0.1s ease-out,
		transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
	transform: rotate(-90deg);
}
.hamburger--spin-r .hamburger-inner {
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-duration: 0.22s;
}
.hamburger--spin-r .hamburger-inner:before {
	transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.hamburger--spin-r .hamburger-inner:after {
	transition: bottom 0.1s ease-in 0.25s,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r.is-active .hamburger-inner {
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: rotate(-225deg);
}
.hamburger--spin-r.is-active .hamburger-inner:before {
	top: 0;
	transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
	opacity: 0;
}
.hamburger--spin-r.is-active .hamburger-inner:after {
	bottom: 0;
	transition: bottom 0.1s ease-out,
		transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
	transform: rotate(90deg);
}

@media (min-width: 700px) {
	.hamburger {
		display: none;
	}
}
